<HTML>
    <hr />
    Please review and approve the {termyear} scholarship for <b>{fullname}</b>.
    <br />
    <br />
    In moodle, go to <b>Dashboard->Program Management->Scholarships Given</b>, 
    select the student, then the {termyear} scholarship.  Set the following:
        <ul>
            <li>Decision</li>
            <li>Review Date</li>
            <li>Comments (optional - this text will show in the student notification message)</li>
            <li>Save (This will immediately notify the student at {stuemail})</li>
        </ul>
    <hr />
    <br />
    <TABLE width="750" border="1" cellpadding="5" cellspacing="0" align="left">
        <TR><TD colspan="2" valign="top"><img src="{logourl}"></TD></TR>
        <TR><TD colspan="2"><H2>Scholarship Application for the {termyear} Academic Year</H2></TD></TR>
        <TR><TD colspan="2"><b>{scholarshiptext}</b></TD></TR>
        <TR><TD nowrap width="10%"><b>Name:</b></TD><TD>{fullname}</TD></TR>
        <TR><TD nowrap width="10%"><b>Email Address:</b></TD><TD>{stuemail}</TD></TR>
        <TR><TD valign="top" width="10%"><b>Program:</b></TD><TD>{programdesc}</TD></TR>
        <TR><TD colspan="2">{statusconfirm}</TD></TR>
    </TABLE>
</HTML>
