<html>
<head>
</head>
<body bgcolor="#ffffff" text="#000066">
    <img style="max-width:50%; max-height:50%; height:auto;" src="{logourl}"><BR><HR>
    <div style="font-size: medium; font-family: arial,helvetica,sans-serif;">
    <p>{salutation},</p>
    <p>Your application for a "{scholarshipdesc}" GCS scholarship has been {decision}.</p>
    <p>{scholarshiptext}</p>
    <p>{comments}</p>
    <p>Please contact the GCS registrar with any questions by replying to this message, 
    or by calling 800-851-2611 or 626-650-2306</p>
    <p>Sincerely,<BR>GCS Scholarship Committee</p>
    </div>
</body>
</html>
